html {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: #eaeaea;
  line-height: 1.5;
  background-color: #252a34;
}

body {
  margin: 0px;
  padding: 0px;
}

.bodyContent {
  margin: auto;
  width: 1250px;
}

.noLinkDecor {
  color: #eaeaea;
  text-decoration: none;
}

.flexOnly {
  display:flex;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}


a:hover {
  color: #aaa;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Header */

header {
  margin: 1.8em 0 1.8em 0;
}

.logoImage {
  width: 3em;
  height: 3em;
  margin-right: 1.1em;
}

.logoText {
  font-size: 1.6rem;
}

.menuItem {
  margin: 0.8em;
  padding: 0.3em;
  font-size: 1.5rem;
}

/* Sidebar */

.sidebar {
  width: 25%;
  opacity: 0.75;
}

.sidebar::hover {
  opacity: 1;
}


.authorImage {
  margin-top: 1.5em;
  width: 10em;
  height: 10em;
}

.circle {
  border-radius: 50%;
}

.contactImage {
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
}

li.sidebarContactListItem {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li.sidebarContactListItemHover:hover {
  transition:all 0.5s ease 0s;
  margin-top: 0.5em;
  margin-left: 5em;
  transform: scale(1.5);
}

ul.sidebarContactListItem {
  padding: 0em;
}

p.sidebarContactListItem {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 1.1rem;
}

/* Footer  */

footer {
  padding:1.5em 0em 1.5em 0em;
  margin: 10em 0em 0em 0em;
  width: 100%;
  bottom: 0px;
  background-color: #1a1d24;
}

/* Posts */

.postContainer {
  margin-top: 2em;
  width: 50%; 
}

h1.postTitle {
  margin-top: 1.3em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  font-size: 1.8em;
}

a.postLinkDecor {
  color: #75ccd0aa;
}

a.postLinkDecor:hover {
  color: #75ccd0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.horizontalMarginSeparator {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.postTimeDescription {
  font-size: 1rem;
}

.postExcerp {
  margin: 0px;
  padding: 0px;
  margin-top: 0.6em;
  font-size: 1.2rem;
}