@import 'variables';

.Portfolio {
  width: 72%;

  &__Title {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5em;

    &--LightBlue {
      color: $primary-link-color-alpha;

      &:hover {
        color: $primary-link-color;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__Description {
    font-size: 1.5rem;
  }

  &__ProjectExcerpt {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  &__ProjectGrid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    row-gap: 5em;
  }
  &__Project {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  &__ProjectImage {
    width: 100%;
    border-radius: 0.4em;
  }
}