$background-color: #252a34;
$footer-background-color: #1a1d24;

$primary-color: #eaeaea;
$primary-dark-color: #aaa;
$primary-link-color: #75ccd0;
$primary-link-color-alpha: #75ccd0aa;
$hr-color: #555;